@media only screen and (min-width: 1200px)
	.productdetails
		.product-info
			width 50%
			float right
			margin-left 3.3444816053512%
			min-height 550px

		.main-image
			float left
			position absolute

@media only screen and (min-width: 1366px)
	.page
		padding 116px 75px 0

@media only screen and (min-width: 1600px)
	.productdetails
		.social-share
			margin-top 0
			float right

@media only screen and (min-width: 1920px)
	.productdetails
		.related-products
			width 81%

@media only screen and (max-width: 480px)
	.productdetails
		.product-info
			padding-top 10px
		.product-inner
			padding 40px
		.product-name
			font-size 30px
		.main-image
			.easyzoom
				img
					width: 100%;
					height: auto;


	.page
		padding 75px 35px 0

@media only screen and (max-width: 1200px)
	.productdetails
		.product-inner
			padding 0 40px
	