@media only screen and (min-width: 700px)
	.btn-menu
		display none
	.menu
		display block !important
		position static
		li
			display inline-block
	.gains-container
		position absolute
		top 0
	.layout-iframe
		.wrapps
			margin-top 0


@media only screen and (min-width: 768px)
	header
		height 100px
	.search
	.cart
		float right
		margin-top 2em

	.search
		margin-right 2.5em
	.cart
		margin-right 3em
		padding 0
	.logo-iframe
		display block !important

@media only screen and (min-width: 1024px)
	.box-info
		width 310px

	.shipping
	.online
	.gift
		width 310px

	.online
		width 315px
		height 75px
@media only screen and (min-width: 1200px)
	.productdetails
		.product-info
			width 50%
			float right
			margin-left 3.3444816053512%
			min-height 550px

		.main-image
			float left
			position absolute

@media only screen and (min-width: 1366px)
	.page
		padding 116px 75px 0

@media only screen and (min-width: 1600px)
	.productdetails
		.social-share
			margin-top 0
			float right

@media only screen and (min-width: 1920px)
	.productdetails
		.related-products
			width 81%

@media only screen and (max-width: 480px)
	.productdetails
		.product-info
			padding-top 10px
		.product-inner
			padding 40px
		.product-name
			font-size 30px
		.main-image
			.easyzoom
				img
					width: 100%;
					height: auto;


	.page
		padding 75px 35px 0

@media only screen and (max-width: 1200px)
	.productdetails
		.product-inner
			padding 0 40px
	